# Byte-compiled / cache
__pycache__/
*.py[cod]
*.pyo

# Environment files
.env
config.env

# Virtual environments
venv/
env/

# OS files
.DS_Store
Thumbs.db

# AWS credentials
.aws/

# IDEs
.vscode/
.idea/

# Logs and output
*.log

# Ignore Lambda dependency folders but keep handler.py
lambda/certifi/
lambda/certifi-*.dist-info/
lambda/charset_normalizer/
lambda/charset_normalizer-*.dist-info/
lambda/idna/
lambda/idna-*.dist-info/
lambda/requests/
lambda/requests-*.dist-info/
lambda/urllib3/
lambda/urllib3-*.dist-info/
lambda/bin